
@{
    ViewData["Title"] = "Detail";
    Layout = null;

}

<h1>Detail</h1>
<h2>@ViewBag.SeriesTitle</h2>
<pre>@Html.Raw(ViewBag.Description)</pre>
<h5>Artists:</h5>
<div>
    <ul>
        @foreach (var artist in ViewBag.Artists)
        {
                <li>@artist</li>            
        }
    </ul>
</div>